<!DOCTYPE html>
<html lang="en">
  <head>
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
   <div class="container">
    <div>
		<div class="row">
			<div class="col-md-offset-3 col-md-3">
				<h2> Generate Page </h2>
				<form action="/import" method="post" enctype="multipart/form-data">
				<h3> Audit list </h3> 
				<input type="file" name="audit"><br /><br />
				<h3> Arc Members List </h3> 
				<input type="file" name="members"><br /><br />
				<input type="submit" value="Upload">
				</form>
			</div>

			<div class=" col-md-3">
				<h2> Generate CSV </h2>
				<form action="/generate" method="post" enctype="multipart/form-data">
				<h3> Audit list </h3> 
				<input type="file" name="audit"><br /><br />
				<h3> Arc Members List </h3> 
				<input type="file" name="members"><br /><br />
				<input type="submit" value="Upload">
				</form>
			</div>
		</div>
    </div>
   </div>
  </body>
</html>