<!DOCTYPE html>
<html lang="en">
  <head>
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
   <div class="container">
    <div>
		<div class="row">
			<div class="col-md-offset-3 col-md-3">
				{% if error == "true" %}
					<center><button class="btn btn-danger">Error in input</button></center> 
				{% endif %}
					<h2> Membership Audit </h2>
					<form method="post" enctype="multipart/form-data">
					<h3> Audit list </h3> 
					<input type="file" name="audit"><br /><br />
					<h3> Arc Members List </h3> 
					<input type="file" name="members"><br /><br />
					<input type="submit" formaction="/import" value="View">
					<input type="submit" formaction="/generate" value="Generate CSV">
					</form>
				
			</div>
		</div>
    </div>
   </div>
  </body>
</html>